<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Customer Suggestion</title>
</head>
<body>
    <h1>Add a New Customer Suggestion</h1>
    <form method="post">
        Flavor Name: <input type="text" name="flav_name"><br>
        Customer Name: <input type="text" name="cust_name"><br>
        Suggestion: <input type="text" name="suggestion"><br>
        Allergy Concerns: <input type="text" name="allergy_concerns"><br>
        <input type="submit" value="Add Suggestion">
    </form>
</body>
</html>
